:root {
    /* Colores principales */
    --color-primario: #22C55E;
    --color-primario-claro: #4ADE80;
    --color-primario-oscuro: #15803D;

   

    /* Fondos */
    --color-fondo:#ffffff  ;
    --color-fondo-secundario: #0B1220;
    --color-superficie: #111827;
    --color-tarjeta: #161B22;
}