@import url("app_colors.css");
@import url("hero.css");
@import url("components.css");
@import url("navbar.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--color-fondo);
}
