{% macro confirm_dialog(id, title="Confirmar", message="¿Estás seguro?", confirm_text="Confirmar", confirm_variant="danger", confirm_id="") %}
<div class="modal fade" id="{{ id }}" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ title }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p>{{ message }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-{{ confirm_variant }} btn-sm" id="{{ confirm_id or id ~ '-confirm' }}">{{ confirm_text }}</button>
      </div>
    </div>
  </div>
</div>
{% endmacro %}
